<div class="container">
  <h2>Done</h2>
  <p>Thanks for purchasing Marginalia! Click the "New" link above to get started.</p>
<!-- Google Code for Marginalia Registration Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1035035716;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "h1hPCJzduwMQxMjF7QM";
var google_conversion_value = 19.00;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1035035716/?value=19.00&amp;label=h1hPCJzduwMQxMjF7QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</div>
