<% @supress_nav = true %>
<div class="container">
  <div class="row">
    <div class="span6">
      <h2>Register</h2>
      <p>Registration is currently disabled. Thank you for your interest in Marginalia!</p>
    </div>
    <div class="span6">
      <div class="news well">
        <% plan = Plan.find(session[:plan_id]) %>
        <h2><%= plan.name %>, $<%= plan.amount / 100 %> monthly</h2>
        <h4>Marginalia Features and Benefits</h4>
        <p>
        <ul>
          <li><strong>Unlimited</strong> notes</li>
          <li><strong>Unlimited</strong> versions</li>
          <li>Full RESTful API</li>
          <li>Full control over your data</li>
        </ul>
        </p>
        <h4>Privacy and Support</h4>
        <p>
        Check out the <a href="/support">full policy</a>, but here's the gist:
        <ul>
          <li>I'll never spam you</li>
          <li>Your data is yours. I'll never sell or release it.</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
