<% @supress_nav = true %>
<div class="container">
  <div class="row">
    <div class="span6">
      <h2>Billing</h2>
      <% if ab_test("show_num_registration_steps_0001", nil, {:conversion => "Charged Card"}) %>
      <h4>Step 2 of 2</h4>
      <% end %>
      <form action="/billing" method="POST" id="payment-form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
        <payment key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"></payment><br>
        <input type="submit" class="btn btn-success" value="Charge Me"</input>
      </form>
    </div>
    <div class="span6">
      <div class="news kinda-big" style="margin-top: 2em">
        <p style="text-align: center">
          <%= image_tag("GuaranteeSeal.jpg") %>
        </p>
        <p>
          If for any reason you're unsatisified with Marginalia, <a href="mailto:pete@marginalia.io">email me</a> you'll get a full refund of your last month's payment, no questions asked.</p>
        <h4>Security</h4>
        <p>
          Every page and API call on Marginalia is secured with SSL. Payments are processed with Stripe, which is <a href="https://stripe.com/help/security">Level 1 PCI certified</a>. Your data is stored on Heroku's PostgreSQL databases. Backups are stored on Amazon S3.
        </p>
      </div>
    </div>
  </div>
</div>
