<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @note.title %></h3>
    <small>Shared by <%= @note.from_address %></small><br>
    <%= @note.rendered_body.html_safe %>
  </body>
</html>
