<table class="table table-striped sorted">
  <thead>
    <tr>
      <th>Title</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% notes.each do |note| %>
    <tr>
      <td><%= link_to note.title, note %></td>
      <td><%= note.updated_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
