<div class="container">
  <div class="row">
    <div class="span2 pull-right news">
      <a href="/users/sign_in">Sign In</a> | 
      <a href="/tour">Tour</a> |
      <a href="/plans">Pricing</a>
    </div>
  </div>

  <div class="hero-unit">
    <h1>Marginalia</h1>
    <p><%= tagline_text %></p>
    <br>
    <a href="/plans" class="btn btn-large btn-success">Sign Up Now</a>
    <a href="/notes/new" class="btn btn-large btn-info">Try now for Free</a>
    <br><br>
  </div>
  <div class="row">
    <div class="span4 news kinda-big">
      <h3>Notes</h3>
      <p>Marginalia is an application for writing and storing textual notes of all kinds. Project ideas, journals,
        meeting notes, todo lists. Anything and everything.</p>
      <p>Organize your notes with Projects and Hashtags. Notes are formatted using <a href="/markdown">Markdown</a>, an easy-to-use text formatting system.</p>
    </div>
    <div class="span4 news kinda-big">
      <h3>Email and Sharing</h3>
      <p>Create a note, get an email. Reply to email, append to note. <a href="/email">Easy peasy.</a></p>
      <p>Access your notes from anywhere. Share your notes with others with either a public link or over email.</p>
    </div>
    <div class="span4 news kinda-big">
      <h3>Search and Export</h3>
      <p>Full-text search is available on every page. Never lose that thing that that guy said that one time ... again.</p>
      <p>Your data is your own. Export all your notes at any time with one click.</p>
    </div>
  </div>
  <div class="row">
    <div class="span3">&nbsp;</div>
    <div class="span6 testimonial">
      <h4>&ldquo;I love this service. It's exactly what I've been looking for.&rdquo;</h4>
      <p>&mdash;Mark D.</p>
    </div>
    <div class="span3"></div>
  </div>
<% content_for :title do %>
<%= tagline_text %>
<% end %>
