<div class="container">
  <div class="hero-unit">
    <h1>Marginalia</h1>
    <p>An easy way to keep a journal, take notes, and make lists.</p>
    <br>
    <a href="/register" class="btn btn-large btn-success">Buy now | $19</a>
    <a href="/notes/new" class="btn btn-large btn-info">Try for Free</a>
    <br><br>
    <a href="/users/sign_in">Sign In</a>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Markdown</h3>
      <p>Notes are formatted using Markdown, an easy-to-use text formatting system.<p>
    </div>
    <div class="span4">
      <h3>Email</h3>
      <p>Create a note, get an email. Reply to email, append to note. Easy peasy.<p>
    </div>
    <div class="span4">
      <h3>Developers</h3>
      <p>Want to integrate with Marginalia? There's a full RESTful API at your disposal.</p>
  </div>
</div>
<% content_for :title do %>
Keep a development journal, take notes, and make lists with Marginalia
<% end %>
