<script type="text/javascript">
$(function() {
  $('.screenshot_group').colorbox();
  $('#myCarousel').carousel();
});
</script>
<div class="container news big">
  <div class="row">
    <div class="span6">
      <%= raw @note.rendered_body %>

    </div>
    <div class="span6">
      <div id="myCarousel" class="carousel slide" style="height: 350px; margin-top: 20px">
        <!-- Carousel items -->
        <div class="carousel-inner" style="text-align: center">
          <div class="active item"><a class="screenshot_group" title="Create Notes with Ease" href="/assets/create_note.png"><img src="/assets/create_note_small.png"></a></div>
          <div class="item"><a class="screenshot_group" title="Beautifully Rendered Notes" href="/assets/show_note.png"><img src="/assets/show_note_small.png"></a></div>
          <div class="item"><a class="screenshot_group" title="All Your Notes in One Place" href="/assets/list_notes.png"><img src="/assets/list_notes_small.png"></a></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12" style="text-align: center">
      <div class="well">
        <a href="/notes/new" class="btn btn-large btn-info">Try for Free</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Notes</h3>
      <p>Marginalia is an application for <b>writing and storing textual notes</b> of all kinds. Project ideas, journals,
        meeting notes, todo lists. Anything and everything.</p>
      <p>Notes are formatted using <a href="/markdown">Markdown</a>, an easy-to-use text formatting system.</p>
    </div>
    <div class="span4">
      <h3>Email</h3>
      <p>Create a note, get an email. Reply to email, append to note. <a href="/email">Easy peasy.</a></p>
      <p>Marginalia is specifically designed to get ideas <b>out of your head and into permanent storage as quickly as possible</b></p>.
    </div>
    <div class="span4">
      <h3>Search and Export</h3>
      <p>Full-text search is available on every page. Never lose that thing that that guy said that one time ... again.</p>
      <p>Your data is your own. Export all your notes at any time.</p>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Tags</h3>
      <p>Organize your notes with #hash #tags.</p>
    </div>
    <div class="span4">
      <h3>Buy It Forever</h3>
      <p>No monthly or yearly subscriptions. <b>Buy it once, log in forever.</b></p>
    </div>
    <div class="span4">
      <h3>Developers</h3>
      <p>Want to integrate with Marginalia? There's a <a href="/apidocs">full RESTful API</a> at your disposal, along with a <a href="https://github.com/peterkeen/marginalia-io">Ruby reference implementation</a> and cli client.</p>
    </div>
  </div>
</div>
<% content_for :title do %>
<%= @note.title %>
<% end %>
