<% content_for :title do %>
  Novel Writing Online
<% end %>
<%= markdown do %>
Writing a noteworthy novel requires mental clarity, creativity, and a suitable way to document ideas.  With the growing use of technology, many writers prefer to ditch the traditional method of pen and paper and begin exploring the benefits of novel writing online.  Successful writers pride themselves on using a method that will allow the story to be composed in an organized way. It’s equally important to record related notes, storylines, upcoming ideas, goals, or projects with the ability to incorporate the information seamlessly. 

### Writing Online

The benefits of novel writing online far exceed its expectations. With programs like Marginalia, writers can begin to express their creativity, organize their thoughts, and incorporate any pertinent information to make their book a success. Less traditional ways of writing can be quite an inconvenience when searching for key words or retrieving notes. Marginalia simplifies the process for all novelists by integrating a feature that allows writers to search for terms and easily retrieve prior work. 

### Write Anywhere

In addition to the user-friendly interface, those who write online get a special advantage – the ability to write anywhere. In order to productively engage in novel writing online, it’s important to be able to access the work from any computer or device with an internet connection. Marginilia understands that working writers should be able to write everywhere without restraint. 

### Email and Share

Marginilia goes beyond the typical expectations of writing software with its email and sharing feature. Writers can easily network, send queries, create notes, and share email. There’s no need to have multiple browsers and distracting unrelated emails to hinder the writing process.

### Take Notes

Note-taking is imperative part of comprehensive writing. Marginalia uses <a class="tracked" href="https://www.marginalia.io/markdown">Markdown</a> making it simple for the authors to record ideas by using an effortless text formatting system. The note-taking feature can be used for a plethora of things including: creating a to-do list, recording progress, and documenting achievements. Once the document has been perfected, authors can easily export their novels with an easy click.

### Save Time, Reach Your Goals

Marginalia has created a picture perfect way to create novels online by understanding the needs of serious authors and creating features that meet the demands of these writers. Writers who use Marginalia definitely save time and reach their goals faster. 
<% end %>
