<% content_for :title do %>
  Support and Privacy
<% end %>
<div class="container">
<div class="row">
<%= markdown do %>
## Support

I don't think you'll need help, but if you do feel free to [email me][mail] and I'll do whatever I can
to sort you out. If you need help with the API, check out the [API Docs](https://www.marginalia.io/apidocs).

## Privacy Policy

Marginalia's privacy policy is very simple. Your notes and email addresses are yours and I will never share them with anyone.
If I need to access your data for any reason whatsoever, I'll ask you first. If for any reason you want to delete your data,
email us at [pete@marginalia.io][mail] and I'll take care of it.

## Refunds

If for any reason you're unsatisified with Marginalia you can get a refund within 30 days of purchase. [Email me][mail] and I'll
take care of it right away.

[mail]: mailto:pete@marginalia.io
<% end %>
</div>
</div>
