<% content_for :sidebar do %>
  <ul class="nav nav-list news">
    <li><a href="/admin/abingo">A/Bingo</a></li>
    <li><a href="/admin/jobs">Delayed Jobs</a></li>
    <li><a href="/admin/plans">Plans</a></li>
    <li class="divider"></li>
    <li><a href="https://manage.stripe.com">Stripe</a></li>
  </ul>
<% end %>

  
  
