<% if @tags.length > 0 %>
<table class="table table-striped sorted">
  <thead>
    <tr>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
    <tr>
      <td><a href="/tags/<%= tag %>"><%= tag %></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="well">
  <%= markdown do %>
#### Getting Started

To use tags, just create your first note by clicking the **New** button at the top, and include a tag in your note body like this: `#exampletag`
  <% end %>
</div>
<% end %>
  
