<table class="table table-striped sorted">
  <thead>
    <tr>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
    <tr>
      <td><a href="/tags/<%= tag %>"><%= tag %></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
  
