<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to Marginalia!</h3>
    <p>Hi <%= @user.name %>!</p>

    <p>
      I'm Pete, founder of Marginalia, and I want to welcome you personally to
      Marginalia. If you have any questions or comments, please reply and let
      me know. In the mean time, here's some handy links for things to do:
    </p>
    <ul>
      <li><a href="https://www.marginalia.io/notes/new">Create a new note</li>
      <li><a href="mailto:newnote@marginalia.io">Create a new note via email</a> (you should add this to your address book for quick notes on the go).</li>
      <li><a href="https://www.marginalia.io/users/edit">Manage your settings.</a> Marginalia will work with all of your email addresses. Just add them here and you can pick the right one when you create a new note. This will also let you create notes via email from other addresses </li>
      <li><a href="https://www.marginalia.io/apidocs">Check out the API documentation.</a> You have full access to a RESTful JSON API for working with your notes.</li>
    </ul>
    <p>I'm a small business, so if you have a minute and you find yourself delighted with Marginalia, I would appreciate it if you could tweet or facebook (or tumblr or blog or email) and help me get the word about about Marginalia.</p>
    <p>Thanks again, and happy noting!</p>
    <p>--Pete</p>
    <hr>
    <a href="https://www.marginalia.io">Marginalia</a>, an easy way to keep a journal, take notes, and make lists.
  </body>
</html>
