/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree . 
 *= require_self
*/
.navbar .brand {
  font-family: "Meie Script", cursive;
  text-transform: none;
  font-size: 300%;
}
/* .btn, th.header { */
/*   font-family: "News Cycle", "Arial Narrow Bold", sans-serif; */
/* } */
/* footer p { */
/*   margin-left: 2em; */
/*   margin-right: 2em; */
/*   font-family: "News Cycle", "Arial Narrow Bold", sans-serif; */
/* } */
